#age-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#age-overlay .step-1 .select-lang {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 40px auto;
}
#age-overlay .step-1 .select-lang a {
  border: 3px solid #fff;
  padding: 10px 25px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none !important;
}
#age-overlay .step-1 .select-lang a.active, #age-overlay .step-1 .select-lang a:hover {
  background-color: #f0f0f0;
  color: #A39665;
  transition: all 0.3s;
  text-decoration: underline;
}
#age-overlay .step-1 button[type=submit] {
  border: 0;
  font-size: 22px;
  padding: 10px 30px;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}
#age-overlay .step-1 button[type=submit]:hover {
  transition: background-color 0.3s, color 0.3s;
}
#age-overlay .overlay-content {
  width: auto;
  height: auto;
  background: white;
  box-sizing: border-box;
  max-width: 500px;
  padding: 30px 50px;
  margin: auto;
  text-align: center;
}
#age-overlay .overlay-content .overlay-logo-container {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 70px;
  width: 280px;
  margin: 0 auto 20px;
  padding: 50px;
}
#age-overlay .overlay-content .wave {
  background-image: url("../images/wave.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 100%;
  margin: 20px auto;
  background-size: contain;
}
#age-overlay .overlay-content .overlay-header-text .text-block {
  display: block;
}
#age-overlay .overlay-content .overlay-header-text .agegate-header {
  font-size: 1.625rem;
  font-weight: bolder;
  line-height: 1rem;
  margin-bottom: 20px;
}
#age-overlay .overlay-content .overlay-header-text .agegate-subheader {
  font-weight: lighter;
  font-size: 0.875rem;
  line-height: 1rem;
  margin-bottom: 20px;
}
#age-overlay .overlay-content form .agegate-error {
  display: none;
}
#age-overlay .overlay-content form .input-wrapper {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  max-width: 70%;
  margin: 30px auto 0;
}
#age-overlay .overlay-content form .input-wrapper input[type=number] {
  border: 1px solid #000;
  text-align: center;
  font-weight: bold;
  max-width: 120px;
  border-radius: 4px;
  -moz-appearance: textfield;
  width: 6em;
  padding: 7px 10px;
}
#age-overlay .overlay-content form .input-wrapper input[type=number]::placeholder {
  text-transform: uppercase;
}
#age-overlay .overlay-content form .input-wrapper input[type=number].error {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
}
#age-overlay .overlay-content form .input-wrapper input[type=number]::-webkit-outer-spin-button, #age-overlay .overlay-content form .input-wrapper input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#age-overlay .overlay-content form .agegate-error {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.3);
  font-weight: bold;
}
#age-overlay .overlay-content form .agegate-remember {
  display: flex;
  max-width: 80%;
  margin: 20px auto 40px;
  align-items: baseline;
  gap: 20px;
}
#age-overlay .overlay-content form .agegate-remember label {
  align-self: normal;
  font-weight: bold;
  text-align: left;
  line-height: 1.5;
}
#age-overlay .overlay-content form .agegate-remember label span {
  display: block;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 10px;
}
#age-overlay .overlay-content form button[type=submit] {
  border: 0;
  font-size: 22px;
  padding: 10px 30px;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}
#age-overlay .overlay-content form button[type=submit]:hover {
  transition: background-color 0.3s, color 0.3s;
}
#age-overlay .overlay-content form .buttons-wrapper {
  gap: 20px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
#age-overlay .overlay-content form .buttons-wrapper input {
  padding: 7px 25px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}
#age-overlay .overlay-content .footer-overlay {
  margin-top: 40px;
  font-size: 0.8125rem;
  line-height: 16px;
  font-weight: lighter;
}
#age-overlay .overlay-content a {
  text-decoration: underline;
  font-weight: bold;
}
#age-overlay .overlay-content p {
  margin-bottom: 0;
}

@media (max-width: 982px) {
  #age-overlay {
    align-items: flex-start;
  }
  #age-overlay .overlay-content {
    max-width: 100%;
    padding: 20px 40px;
    margin: 80px auto 0;
  }
}

/*# sourceMappingURL=age_gate_style.css.map */
